*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("download\ \(5\).jfif");
   background-size: cover;
  background-position: center;
 font-family:  sans-serif;

}
a :hover{
    color: black;
}

.menubar 
{
    background-color: whitesmoke;
    text-align: center;
  
}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color: blue;
}
.menubar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menubar .fa{
    margin-right: 10px;
}

.box1{
    text-align: center;
    text-decoration: bisque;
}
.jumia-logo{
    height :50%;
    margin: 10px;
    margin-top: 10px;
    cursor: row-resize;
    

}
.jumia-searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.jumia-searchbar input{
    width: 500px;
    padding: 4px;
}
.jumia-searchbar.searchicon{
    background-color:orange;
    height: 23px;
    width: 10px;
    font-size: large;
    cursor: pointer;
}
.header-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    
}
.header-icon{
    color: #000;
    margin: 13px;
    padding: 4px 4px;
    font-size: 15px;
}

.jumia-bottomsection{
    display: flex;
    flex-direction: row;
    text-decoration: navy;

}
.jumia-sidebar{
    border: orange;
    position: fixed;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    background-color:whitesmoke;
    width: 250px;
    height: 100vh;
    text-decoration: navy;
}
.jumia-sidebarfield{
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color:whitesmoke;
    width: 100%;
    margin: 5px;
    cursor: point;
    text-decoration: navy;
}


.box2{
    text-align: center;
   
}
.menubar ul li a {
    text-decoration: none;
    color: orange;
}

.active, .menubar ul li:hover{
 background-color: black;
 border-radius: 3px;


 }

 .sub-menu {
     display: none;
 }

 .menubar ul li:hover .sub-menu{
    display: block;
     position: absolute;
     background-color: black;
     margin-top: 15px;
     margin-left: -15px;

 }
 .menubar ul li:hover .sub-menu .ul{
     display: block;
     margin: 10px;
 }
 .menubar ul li:hover .sub-menu .ul .li{
     width: 150px;
     padding: 10px;
     border-bottom: 1px dotted white;
     background: transparent;
     border-radius: 0;
     text-align: left;
 }
 .hamza{
    text-align: center;
 }
.box3{
    font-size: 15px;
    text-align: center;
    text-decoration: whitesmoke;
    padding: 13px ;
}


 


  
 


